
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <app-navbar-backoffice></app-navbar-backoffice>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
  <app-header-backoffice></app-header-backoffice>
    <!--  Header End -->
    <!--  Body Start -->
    <div style="padding-top: 70px;">
    <router-outlet></router-outlet>
  </div>  
    <!--  Body End -->
  </div>
</div>
