<header class="main-header clearfix" role="">
  <div class="logo">
    <a href="#"><em>QuantumTech </em> Institute</a>
  </div>
  <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
  <nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">
      <li><a href="" >Home</a></li>
      <li class="has-submenu"><a href="#">About Us</a>
        <ul class="sub-menu">
          <li><a href="#">Who we are?</a></li>
          <li><a href="#">What we do?</a></li>
          <li><a href="#">How it works?</a></li>
          <li><a href="https://templatemo.com/about" rel="sponsored" class="external">External URL</a></li>
        </ul>
      </li>
      <li><a href="#">Courses</a></li>
      <!-- <li><a href="#section5">Video</a></li> -->
      <li><a href="#=">Contact</a></li>
      
      <ng-container *ngIf="etudiantName; else signInLink">
        <li class="has-submenu"><a href="" >Reclamation</a>
          <ul class="sub-menu">
            <li><a href="#" routerLink="mainreclamations/reclamationList">Your Complaints</a></li>
            <li><a href="#" routerLink="mainreclamations/reclamationAdd">Add Complaints</a></li>
          </ul></li>
        <li><a href="" routerLink="mainetudiants/etudiantProfile">{{ etudiantName }}</a></li>
        <li><a href="" (click)="logout()">Logout</a></li>
      </ng-container>
      <ng-template #signInLink>
        <li><a href="" routerLink="mainetudiants/etudiantLogin">Sign In</a></li>
      </ng-template>
    </ul>
  </nav>
</header>
